*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(6.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
}
.nav{
    background-color: black;
    width: 100%;
}
.cear{
    clear: both;
}
.logo{
    width: 15%;
    float: left;
}
.img-logo{
    width: 40%;
    height: 30%;
}
.cear{
    clear: both;
}
.nav-link{
    float: right;
    margin-right: 20px;
    padding-top: 10px;
}
.nav-link ul a{
    padding: 20px 10px 10px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

    
}


.card{
    width: 100%;
    margin-top: 50px;
}
.clear{
    clear: both;
}
.card-div{
    width: 20%;
    background-image: url(3.webp);
    margin-left: 55px;
    text-align: center;
    border-radius: 8px;
    float: left;
}
.img-card{
    width: 60%;
    height: 50%;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
p{
    color: aliceblue;
}
b{
    color: azure;
}